html, body{
	height: 100%;
	width: 100%;
	min-height: 100vh;
	font-family: 'Lato', sans-serif;
	color: #ffffff;
}

.flex-fill{
	flex:1 1 auto;
}

/* navigation bar */
.navbar{
	font-family: 'Lato', sans-serif;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
}

.navbar-custom{
	background-color: black;
}

.navbar-dark .navbar-nav .nav-link {
	color: #999999;
	padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color:#ffffff;
}

.log{
	position: relative;
	left:1390px;
}

.logout{
	background-color:#506cb5;
	color: white;
	border-color:black;
	border-width: thin;
	padding:5px;
	font-weight: 500;
}

.logout:hover{
	background-color:white;
	color: #663399;
	border-color:#663399;
	border-width: thin;
	font-weight: 600;
}