.navbar{
    text-transform: uppercase;
	font-size: 1rem;
	font-weight: 700;
    background: #ff3503;
}
.navbar-dark .navbar-nav .nav-link {
    color: #999999;
    padding-left: 1rem;
}
.navbar-dark .navbar-nav .nav-link:hover{

    color:#cccccc;
}
.log{
	position: relative;
	left:1390px;

}


.logout{
	background-color:#506cb5;
	color: white;
	border-color:black;
	border-width: thin;
	padding:5px;
	font-weight: 500;


}
.submit{
	background-color:#506cb5;
	color: white;
	border-color:black;
	border-width: thin;
	font-weight: 500;
	padding left:10;
	padding right:10;
}
.submit:hover{
	background-color:white;
	color: #663399;
	border-color:#663399;
	border-width: thin;
}

.logout:hover{
	background-color:white;
	color: #663399;
	border-color:#663399;
	border-width: thin;
	/*font-weight: 600;*/
}

body{
	background-color: #f2f2f3;
	
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 50px;
	margin-left: 50px;
}
.forummodule{
	background-color: white;
	color: black;
	overflow:none;
}
.forummargin{
	margin-bottom: 10px;
}
.forumpad{
	padding-top: 15px;
	padding bottom: 15px;
	padding-left: 5px
}
.Home,.category,.discussion{
	font-size: 50px;
	position: relative;
	left:430px;
/*	margin:auto;
	width:60%;
	padding: 10px;*/


}
.pagnationbar{
	padding: 20px;
}
.pagnationarrow{
	color:#9e9e9e;
	padding-right: 5px;
	padding-left: 5px;
}
a:hover{
	color:#562e72;
	font-weight: 10000;
	text-decoration: none;

}
h1{
	font-size: 1.7em;
	color:#562e72;
}
h2{
	font-size: 1.5em;
	color:#562e72;
}
h3
{
	font-size: 1.3em;
	color:#562e72;
}
h4{
	font-size: 1.1em;
	color:#562e72;
}
.columnpad{
	margin-top: 15px;
	margin-left: 5px;
	margin-bottom: 10px;
}
.pullleft{
	float: left;
	display:inline-block;

}
.pullright{
	float: right;
	display: inline-block;
}
.middle{
	position: relative;
	vertical-align: middle;
}
.forumtable{
	width:100%;
	height:auto;
	border: 1px solid #562e72;
}
.forumtable td{
	padding:5px;
	
}
.forumtable th{
	padding:5px;
	color :#808080;
	
}
.forumtable tr{
	border: 1px solid #f2f2f2;
	
}
.new_discussion_text{
	width :100%;
	height: auto;
	background color:white;
	color:#562e72;
	margin-top: 5px;

}
.FAQs{
	position: relative;
	left:500px;
	top: 50px;
}