body{
    font-family: 'Lato', sans-serif;
    color: #505962;
}

/* navigation bar */
.navbar{
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
    background: rgba(0,0,0, 1)!important;
}

.navbar-dark .navbar-nav .nav-link {
    color: #999999;
    padding-left: 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color:#000000;
}

/* carousel */
.carousel-item{
    height: 100vh;
}
.carousel-item .active{
    width: 100vw;
}
.carousel-inner{
    width: 100vw;
}

/* project cards*/
   
#projects{
    padding: 30 px;
}