{% extends "Projects/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href='{% static "css/projectindexstyle.css" %}'>

<!--start image slider-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="4000">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleControls" data-slide-to="1"></li>
		<li data-target="#carouselExampleControls" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active" style="background-image: url(static/images/project_slide1.jpg);background-size: cover;"></div>
		<div class="carousel-item" style="background-image: url(static/images/project_slide2.jpg);background-size: cover;"></div>
		<div class="carousel-item" style="background-image: url(static/images/project_slide3.jpeg);background-size: cover;"></div>
	</div>
	<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
</div>
<!--end image slider-->

<!--jumbotron"Project"-->
<div class="jumbotron text-center" style="background-color: #cccccc; color: #000000">
	<img src="static/images/aboveline.png" class="mx-auto d-block" alt="overline" style="width: 20vw;"/>
	<h1 style="color: #000000">Projects</h1>
	<img src="static/images/underline.png" class="mx-auto d-block" alt="underline" style="width: 20vw;"/>

<!--projects section-->


{% for project in projects %}
	{% if not forloop.counter|divisibleby:2 %}
		{% if forloop.counter0|divisibleby:4 %}
		<div class="row" style="background-color: #000000;">
		<div class="col-lg-12"><img src="static/images/overline.png"></div>
		{% else %}
		<div class="row" style="background-color: #ffffff;">
		<div class="col-lg-12"><img class="mx-auto" src="static/images/overline.png"></div>
		{% endif %}
	{% endif %}
		<div class="col-lg-2"></div>
		<div class="col-lg-3">
		<div class="card-container">
			<div class="card">
				<div class="thefront">
					<img src="static/images/project_slide1.jpg" style="width: 100%;" class="card-img-top" alt="...">
					<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
					</div>
				</div>
				<div class="card-img-overlay">
					<div class="theback">
							<p>{{project.description}}</p>
					</div>
				</div>
			</div>
		</div>
		</div>
		{% if forloop.counter|divisibleby:2 %}
		<div class="col-lg-2"></div>
		</div>
		{% endif %}


{% endfor %}

<!--end projects section-->

</div>
</div>
 <!--end jumbotron-->

{% endblock %}

