{% extends "Projects/base.html" %}
{% load static %}
{% block content %}

<html>
	<head>
		<link rel="stylesheet" href='{% static "css/projectindexstyle.css" %}'>
	</head>
<!--start image slider-->
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="4000">
	<ol class="carousel-indicators">
		<li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
		<li data-target="#carouselExampleControls" data-slide-to="1"></li>
		<li data-target="#carouselExampleControls" data-slide-to="2"></li>
	</ol>
	<div class="carousel-inner" role="listbox">
		<div class="carousel-item active" style="background-image: url(static/images/project_slide1.jpg);;"></div>
		<div class="carousel-item" style="background-image: url(static/images/project_slide2.jpg);"></div>
		<div class="carousel-item" style="background-image: url(static/images/project_slide3.jpeg);background-size: cover	"></div>
	</div>
</div>
<!--end image slider-->

<!--jumbotron"Project"-->
<div class="jumbotron text-center" style="background-color: #0d0d0d; color: #000000">
	<h1 style="color: #ffffff">Projects</h1>
	<img src="static/images/underline.png" alt="underline" style="width: 20vw;"/>

<!--projects section-->
<div class="card-columns">
		{% for project in projects%}
		<div class="maincontainer">
			<div class="thecard">
					<div class="card border-dark mb-5">
						<div class="thefront">
							<img class="card-img-top" src="static/images/project_slide1.jpg">
							<div class="card-body">
								<h4 class="card-title">{{project.name}}</h4>
							</div>
							<div class="card-img-overlay">
								<div class="theback">
									<p class="card-text">{{project.description}}</p>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		{% endfor %}
</div>
<!--end projects section-->
</div>
<!--end jumbotron-->

{% endblock %}

</html>