{% extends "Projects/base.html" %}
{% block content %}
<div class="container w-100">
    <ul>  
        {% for project in projects %}
        <div style="background-color: black;color: white;width: 100%;">
                <a style="color: white;text-decoration: none" href="/projects/{{ project.id }}/">{{ project.name }}</a> 
                <p>{{ project.description }}</p> 
        </div>
        <div style="background-color: mintcream;"></div>
        {% endfor %}
    </ul>
</div>
{% endblock %}
 