{% extends "FAQs/base.html" %}
{% load static %}

{%block title%}
	FAQs
{% endblock %}

{% block content %}

<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link rel="stylesheet" href='{% static "css/faqsindexstyle.css" %}'>

<div id="page">

	<div class="container py-5">
		<header class="text-center">
			<h1 class="display-4 font-weight-bold" style="color: #ffffff;">Frequently Asked Questions</h1>
		</header>
		
		<div class="py-5">

			<div class="row">
				<div class="col-lg-12 mx-auto">
					<!-- Accordion -->
					<div id="accordionExample" class="accordion shadow">
						<!-- Accordion item 1 -->
						<div class="card">
							<div id="headingOne" class="card-header bg-white shadow-sm border-0">
								<h6 class="mb-0 font-weight-bold">
									<a href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="d-block position-relative text-dark text-uppercase collapsible-link py-2">
										Who is Dean design IIITDM?
									</a>
								</h6>
							</div>
							<div id="collapseOne" aria-labelledby="headingOne" data-parent="#accordionExample" class="collapse show">
								<div class="card-body p-5">
									<p class="font-weight-light m-0">Dr. Sudhir Varadarajan</p>
								</div>
							</div>
						</div>
				
						<!-- Accordion item 2 -->
						<div class="card">
							<div id="headingTwo" class="card-header bg-white shadow-sm border-0">
								<h6 class="mb-0 font-weight-bold">
									<a href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
										Who made this website?
									</a>
								</h6>
							</div>
							<div id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordionExample" class="collapse">
								<div class="card-body p-5">
									<p class="font-weight-light m-0">
										<ul>
											<li> Anwaar Khalid: CED18I048</li>
											<li>Ashish Choudhary: CED18I061</li>
											<li>T Karthikeyan: CED18I065</li>
											<li>Suyash Chaudhary: COE18B054</li>
											<li>Shubham Karwa: COE18B062</li>
										</ul>
									</p>
								</div>
							</div>
						</div>
				
						<!-- Accordion item 3 -->
						<div class="card">
							<div id="headingThree" class="card-header bg-white shadow-sm border-0">
								<h6 class="mb-0 font-weight-bold">
									<a href="#" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
										Where is DIC office?
									</a>
								</h6>
							</div>
							<div id="collapseThree" aria-labelledby="headingThree" data-parent="#accordionExample" class="collapse">
								<div class="card-body p-5">
									<p class="font-weight-light m-0">4th Floor, Laboratory Complex, IIITDM.</p>
								</div>
							</div>
						</div>

						<!-- Accordion item 4 -->
						<div class="card">
							<div id="headingFour" class="card-header bg-white shadow-sm border-0">
								<h6 class="mb-0 font-weight-bold">
									<a href="#" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
										What is name of incubation centre at IIitdm?
									</a>
								</h6>
							</div>
							<div id="collapseFour" aria-labelledby="headingFour" data-parent="#accordionExample" class="collapse">
								<div class="card-body p-5">
									<p class="font-weight-light m-0">MaDeIT</p>
								</div>
							</div>
						</div>

						<!-- Accordion item 5 -->
						<div class="card">
							<div id="headingFive" class="card-header bg-white shadow-sm border-0">
								<h6 class="mb-0 font-weight-bold">
									<a href="#" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
										What are all the design courses avaiale at IIITDM?
									</a>
								</h6>
							</div>
							<div id="collapseFive" aria-labelledby="headingFive" data-parent="#accordionExample" class="collapse">
								<div class="card-body p-5">
									<p class="font-weight-light m-0">There are many courses incorporated into the curriculum. Two courses are made compulsory in a semester. For more information, visit iiitdm.ac.in.</p>
								</div>
							</div>
						</div>

						<!-- Accordion item 6 -->
						<div class="card">
							<div id="headingSix" class="card-header bg-white shadow-sm border-0">
								<h6 class="mb-0 font-weight-bold">
									<a href="#" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" class="d-block position-relative collapsed text-dark text-uppercase collapsible-link py-2">
										Who is X Æ A-12?
									</a>
								</h6>
							</div>
							<div id="collapseSix" aria-labelledby="headingSix" data-parent="#accordionExample" class="collapse">
								<div class="card-body p-5">
									<p class="font-weight-light m-0">Musk's baby.</p>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}