{%extends "Forum/base.html"%}
{%block title%}
	Forum
{% endblock %}

{% block content %}

<div>
		<h1> Current Queries </h1>
		{%for faq in queries%}
		<h1> Question </h1>
		<li> {{faq.name}} says {{faq.message}} </li>
			{% if faq.response is not none%}
				<h2> Response </h2>
				<li> {{faq.response}} </li>
			{%else%}
				<h2> No Response Yet </h2>
			{% endif %}
		</div>
	{% endfor %}
	<div>


<div id="page" style="background-image: linear-gradient(to right,  #1488CC, #2B32B2); padding-top: 56px; padding-bottom: 0;">
	<div class="container">

		<header class="py-5 text-center">
			<h1 class="display-4 font-weight-bold">FORUM</h1>
		</header>
		
		<div style="height:100vh;">
	
			<form action = "{% url 'index' %}" method= "POST" />
			{% csrf_token %}
			{{form}}
			<input type= submit value = submit>
			</form>
		</div>
	</div>
</div>
{% endblock %}
