{% extends "Clubs/base.html" %}
{% load static %}
{% block title %}
Clubs
{% endblock %}

{% block content %}
<style>
    .con{
        overflow: hidden;
    }
</style>

<link rel="stylesheet" href='{% static "css/projindexstyle.css" %}'>

<link href="https://fonts.googleapis.com/css2?family=Aclonica&family=Bangers&family=Coda+Caption:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Dancing+Script:wght@700&family=Lobster&family=Oswald:wght@700&display=swap" rel="stylesheet">

<!--start of club description-->
<div class="con" style="background-color:#483D3F; width: 100vw;">
    <div class="row">
        <div class="col-lg-12" style="height: 25vh"></div>
    </div>
    <div class="row" style="padding-left: 40px;">
        <div class="col-lg-8">
            <h1 style="font-size:60px;letter-spacing: 5px;font-family: 'Oswald', sans-serif;color: F4EBD9;">NAME OF THE PROJECT</h1>
        </div>
        <div class="col-lg-6"></div>
    </div>
    <div class="row" style="padding-left: 70px;">
        <div class="col-lg-10" style="margin-top: 20px;">
            <p style="font-size: 30px; font-family: 'Dancing Script', cursive;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Leo a diam sollicitudin tempor id eu nisl nunc. Purus in massa tempor nec feugiat nisl pretium. Porttitor rhoncus dolor purus non enim. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa. Vel turpis nunc eget lorem dolor sed viverra. Ac ut consequat semper viverra nam. Tellus at urna condimentum mattis. Vitae tortor condimentum lacinia quis vel eros donec ac odio. Mi in nulla posuere sollicitudin aliquam ultrices. Sapien nec sagittis aliquam malesuada bibendum arcu vitae elementum curabitur. Mauris nunc congue nisi vitae. Ut tortor pretium viverra suspendisse. Senectus et netus et malesuada.</p>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="height: 20vh"></div>
    </div>
</div>
<!--end club description-->

<!--start Core block-->
<div class="container-fluid"  style="padding-top: 80px; background-color:#F4EBD9; width: 100vw;">
    <h3 style="padding-bottom: 20px; padding-left: 40px;letter-spacing: 4px;color: #41305c;font-size: 50px;font-family: 'Aclonica', sans-serif;">Faculties</h3>

    <div class="card-columns">

            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>


            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>



            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>

    </div>

    <div class="row">
        <div class="col-lg-12" style="height: 20vh"></div>
    </div>

</div>
<!--end Core block-->

<!--start students block-->
<div class="container-fluid"  style="padding-top: 100px; background-color:#222725; width: 100vw;">

    <h3 style="padding-bottom: 20px; padding-left: 40px;letter-spacing: 4px;color: #ffffff;font-size: 50px;font-family: 'Aclonica', sans-serif;">Students</h3>


    <div class="card-columns">

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
            <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
            <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
            <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
            <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
            </div>
        </div>

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
            <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
            <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
            </div>
        </div>



        <div class="card">
            <img class="card-img-top" src="..." alt="Card image">
            <div class="card-body">
            <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
            <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-12" style="height: 20vh"></div>
    </div>

</div>
<!--ens students block-->

<!--start of sponsors block-->
<div class="container-fluid" style="padding-top: 100px; background-color:#AAAE7F; width: 100vw;">

    <h3 style="padding-bottom: 20px;padding-left: 40px;letter-spacing: 4px;color: #222725;font-size: 50px;font-family: 'Aclonica', sans-serif;">Sponsors</h3>

        <div class="card-columns">

            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>
    
    
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>
    
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>
    
    
            <div class="card">
                <img class="card-img-top" src="..." alt="Card image">
                <div class="card-body">
                <h4 class="card-title" style="font-size:30px ;color:black;font-family: 'Lobster Two', cursive;">John Doe</h4>
                <p class="card-text" style="font-size:25px;color:black;font-family: 'Dancing Script', cursive">Some example text.</p>
                </div>
            </div>
    

    </div>

    <div class="row">
        <div class="col-lg-12" style="height: 20vh"></div>
    </div>

</div>
<!--end sponsors block-->

<!--start gallery-->
<div class="container-fluid" style="padding-top: 100px; background-color:#ffffff; width: 100vw;">


    <div class="container">

        <h3 style="text-align:center ;padding-bottom: 20px;padding-left: 40px;letter-spacing: 4px;color: #222725;font-size: 50px;font-family: 'Aclonica', sans-serif;">Gallery</h3>


        <div class="row">

            <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 12px; height: 30vh;">
                <a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
                    <img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" class="img-fluid" style="height: 100%!important;">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 12px; height: 30vh;">
                <a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
                    <img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" class="img-fluid" style="height: 100%!important;">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 12px; height: 30vh;">
                <a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
                    <img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" class="img-fluid" style="height: 100%!important;">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 12px; height: 30vh;">
                <a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
                    <img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" class="img-fluid" style="height: 100%!important;">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 12px; height: 30vh;">
                <a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
                    <img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" class="img-fluid" style="height: 100%!important;">
                </a>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 12px; height: 30vh;">
                <a href="https://html.com/wp-content/uploads/html-hpg-featured-new.png">
                    <img src="https://html.com/wp-content/uploads/html-hpg-featured-new.png" class="img-fluid" style="height: 100%!important;">
                </a>
            </div>
                
    
        </div>

        <div class="row">
            <div class="col-lg-12" style="height: 20vh"></div>
        </div>
    

    </div>
</div>

<!--end gallery-->
{% endblock %}


