{% extends "Home/base.html" %}
{% load static %}

{% block title %}
	Home
{% endblock %}

{% block content %}
<link rel="stylesheet" href='{% static "css/homeindexstyle.css" %}'>


<div id="page">
	<section class="py-3 header text-center" style="margin-left: 0; background-image: url('static/images/campus.png');background-size: cover; background-repeat: no-repeat; margin-left: 0; margin-right: 0; padding-right: 0; padding-left: 0;">
			<header class="py-3">
					<img src=static/images/logo.png style="filter: drop-shadow(8px 8px 8px #222222);">
			</header>
	</section>

				<header class="header sticky-top">
					<!---Navigation bar -->
					<nav class="navbar navbar-custom navbar-expand-md navbar-dark">
						<a class="navbar-brand" href="/">
							<img src='{% static "images/logo_DIC_active.png" %}' alt="Home" style="height: 25px;">
						</a>
						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
							<span class="navbar-toggler-icon"></span>
						</button>
			
						<div class="collapse navbar-collapse" id="navbarResponsive">
							<div class="navbar-nav mX-auto">
									<a class="nav-item nav-link" href="/projects/">Projects</a>
									<a class="nav-item nav-link" href="/clubs/">Clubs</a>
									<a class="nav-item nav-link" href="/forms/">Forum</a>
									<a class="nav-item nav-link" href="/FAQs/">FAQs</a>	
							</div>
								<div class="nav navbar-nav ml-auto nav-right">
									<a class="nav-item nav-link" href="/login/"><span class="glyphicon glyphicon-log-in"></span>Login</a>
								</div>
						</div>
					</nav>
				</header>
					<!---End of Navigation bar-->

			<div class="jumbotron-fluid text-center" style="background-image: linear-gradient(to top,#000000, #434343);">
				<div class="container text-center py-3" style="padding-bottom: 0;">
					<img src="static/images/logo_DIC_active.png" style="width: 40vh; padding-top: 50px;">
				</div>
				<h2 style="text-shadow: 2px 2px 8px #000000;">Design & Innovation Center</h2>
				<h4 style="text-shadow: 2px 2px 8px #000000;">A subsidiary of IIITDM Kancheepuram.</h4>
				<a href="https://www.iiitdm.ac.in/" target="_blank" class="button" style="text-decoration: none;">Visit IIITDM Website</a>
			</div>
		</div>
	<!--end head image-->

	<div class="jumbotron text-center">

		<div class="container text-center" style="padding-bottom: 0;">
			<h1 class="font-weight-bold" style="padding-top: 40px;">VISION</h2>
			<p>
				DiC envisions a holistic design education that shapes the students into responsible contributors to society. It enables them to identify significant contemporary problems, inculcate critical thinking, critique conventional solutions, and challenge the status quo to arrive at creative solutions through collaborative team efforts at different levels of society and influencing policymaking that lead to innovations.
			</p>
			<h1 class="font-weight-bold">MISSION</h1>
			<p">
				DiC envisions a holistic design education that shapes the students into responsible contributors to society. It enables them to identify significant contemporary problems, inculcate critical thinking, critique conventional solutions, and challenge the status quo to arrive at creative solutions through collaborative team efforts at different levels of society and influencing policymaking that lead to innovations.
			</p>
	
			<hr style="border: 4px solid #ffffff;margin-block-start: 2rem;">
		</div>

		<section class="announcements">
			<div class="container">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="feature-box">
							<i class="fa fa-bullhorn" aria-hidden="true"></i>
							<div class="feature-details">
								<h4>Announcements</h4>
								<ul class="arrow">
									<li>New DIC logo has been launched.</li>
									<li>"SANDBOX and Startup Sandbox Women Entrepreneurship Program" on 2nd Dec 2019 - 20th Dec 2019, Organized by MaDeIT</li>
									<li>Singapore AUV Challenge is open for registration.</li>
									<li>Epoch Results are out !!!</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="feature-box">
							<i class="fa fa-calendar-o" aria-hidden="true"></i>
							<div class="feature-details">
								<h4>Current events</h4>
								<ul class="arrow">
									<li>RoSMa2020 (2nd International Conference on Robotics and Smart Manufacturing, 16-19 Dec. 2020)</li>
									<li>One Day Symposium on Shock Waves in Science, Engineering and Medicine (29 February 2020)</li>
									<li>IDC workshop: workspace unboxing</li>
									<li>GARUD- Drone chassis design</li>
									<li>AutoDesk fusion 360 workshop</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12">
						<div class="feature-box">
							<i class="fa fa-trophy" aria-hidden="true"></i>
							<div class="feature-details">
								<h4>Achievements</h4>
								<ul class="arrow">
									<li>Ms Arthi R has won the Best Analytical Project Award with cash prize Rs. 15000</li>
									<li>Team Slumdog Slingers won Optimus event organised by DiC</li>
									<li>Team CRomDev won PitchzZ event organised by DiC</li>
									<li>Team Autobots won Circuitronix event organised by EDC</li>
									<li>Team Panda Forever won Pied Piper event organised by Robotics Club</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>
{% endblock %}